@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


a {
    text-decoration: none;
    color: white;
}

header {
    padding: 1rem 0.5rem;
    background-color: #393E41;
margin: 0rem auto;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
}

li {
    display: inline;
    padding: 0.1rem;
    margin: 1rem;
}

body {
    max-width: 400px;
    margin: auto;
    font-family: 'Lato', sans-serif;
}



label {
    display: block;
    margin: 0.5rem;
    padding: 0.5rem;
}

input {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 100%;
}

button {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem;
    width: 80%;
    background-color:#393E41 ;
    color: white;
}

p {
    margin: 1rem;
    padding: 0.5rem;
}

.link-active {
    font-weight: bold;
}

h1 {
    text-align: center;
}
